.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.107422;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.739258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.322266;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.460000px;}
.ls3{letter-spacing:-0.300400px;}
.ls5{letter-spacing:-0.174800px;}
.ls2{letter-spacing:-0.120800px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.179600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-1.133440px;}
._c{width:4.586400px;}
._14{width:24.879040px;}
._10{width:85.018560px;}
._12{width:95.068160px;}
._11{width:100.679040px;}
._15{width:129.419520px;}
._16{width:130.755520px;}
._9{width:133.766880px;}
._e{width:145.445760px;}
._d{width:166.472960px;}
._b{width:208.434240px;}
._7{width:210.235200px;}
._f{width:231.718080px;}
._6{width:247.996160px;}
._13{width:274.817600px;}
._a{width:287.360000px;}
._8{width:390.259520px;}
._5{width:589.524160px;}
._0{width:1474.804480px;}
._1{width:1475.872000px;}
._2{width:1500.003520px;}
._3{width:1503.339520px;}
.fc1{color:rgb(128,128,128);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:24.000000px;}
.fs4{font-size:32.160000px;}
.fs3{font-size:36.000000px;}
.fs2{font-size:39.840000px;}
.fs1{font-size:44.160000px;}
.fs0{font-size:48.000000px;}
.fs6{font-size:56.160000px;}
.y1{bottom:0.000000px;}
.y15{bottom:0.360000px;}
.y13{bottom:29.904000px;}
.y12{bottom:39.144000px;}
.y11{bottom:48.384000px;}
.y10{bottom:57.504000px;}
.y0{bottom:68.000000px;}
.yf{bottom:71.424000px;}
.y2a{bottom:381.070000px;}
.y29{bottom:393.670000px;}
.y28{bottom:406.390000px;}
.y27{bottom:418.990000px;}
.y26{bottom:431.590000px;}
.y25{bottom:444.310000px;}
.y24{bottom:457.150000px;}
.y23{bottom:470.710000px;}
.y22{bottom:483.550000px;}
.y21{bottom:497.350000px;}
.y20{bottom:511.150000px;}
.y1f{bottom:524.830000px;}
.y1e{bottom:537.430000px;}
.y1d{bottom:550.030000px;}
.y1c{bottom:562.780000px;}
.y1b{bottom:575.380000px;}
.y1a{bottom:588.100000px;}
.y19{bottom:601.420000px;}
.y18{bottom:616.780000px;}
.y17{bottom:629.500000px;}
.y16{bottom:642.100000px;}
.ye{bottom:653.620000px;}
.yd{bottom:661.300000px;}
.yc{bottom:671.620000px;}
.yb{bottom:681.940000px;}
.ya{bottom:698.260000px;}
.y9{bottom:708.700000px;}
.y8{bottom:719.380000px;}
.y7{bottom:731.980000px;}
.y6{bottom:744.700000px;}
.y5{bottom:757.320000px;}
.y4{bottom:770.040000px;}
.y3{bottom:782.640000px;}
.y2{bottom:792.960000px;}
.y14{bottom:802.080000px;}
.ha{height:10.680000px;}
.h7{height:24.949219px;}
.h8{height:33.431953px;}
.h9{height:33.950156px;}
.h6{height:37.423828px;}
.h5{height:41.415703px;}
.h4{height:45.906562px;}
.h3{height:46.618125px;}
.hc{height:49.898438px;}
.h2{height:50.671875px;}
.hb{height:59.286094px;}
.h1{height:751.500000px;}
.h0{height:841.920000px;}
.w3{width:108.020000px;}
.w1{width:510.500000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x6{left:7.200000px;}
.x0{left:52.500000px;}
.x4{left:56.639991px;}
.x5{left:92.664000px;}
.x3{left:552.819991px;}
.x2{left:562.539991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.613333pt;}
.ls3{letter-spacing:-0.400533pt;}
.ls5{letter-spacing:-0.233067pt;}
.ls2{letter-spacing:-0.161067pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.239467pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-1.511253pt;}
._c{width:6.115200pt;}
._14{width:33.172053pt;}
._10{width:113.358080pt;}
._12{width:126.757547pt;}
._11{width:134.238720pt;}
._15{width:172.559360pt;}
._16{width:174.340693pt;}
._9{width:178.355840pt;}
._e{width:193.927680pt;}
._d{width:221.963947pt;}
._b{width:277.912320pt;}
._7{width:280.313600pt;}
._f{width:308.957440pt;}
._6{width:330.661547pt;}
._13{width:366.423467pt;}
._a{width:383.146667pt;}
._8{width:520.346027pt;}
._5{width:786.032213pt;}
._0{width:1966.405973pt;}
._1{width:1967.829333pt;}
._2{width:2000.004693pt;}
._3{width:2004.452693pt;}
.fs5{font-size:32.000000pt;}
.fs4{font-size:42.880000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:53.120000pt;}
.fs1{font-size:58.880000pt;}
.fs0{font-size:64.000000pt;}
.fs6{font-size:74.880000pt;}
.y1{bottom:0.000000pt;}
.y15{bottom:0.480000pt;}
.y13{bottom:39.872000pt;}
.y12{bottom:52.192000pt;}
.y11{bottom:64.512000pt;}
.y10{bottom:76.672000pt;}
.y0{bottom:90.666667pt;}
.yf{bottom:95.232000pt;}
.y2a{bottom:508.093333pt;}
.y29{bottom:524.893333pt;}
.y28{bottom:541.853333pt;}
.y27{bottom:558.653333pt;}
.y26{bottom:575.453333pt;}
.y25{bottom:592.413333pt;}
.y24{bottom:609.533333pt;}
.y23{bottom:627.613333pt;}
.y22{bottom:644.733333pt;}
.y21{bottom:663.133333pt;}
.y20{bottom:681.533333pt;}
.y1f{bottom:699.773333pt;}
.y1e{bottom:716.573333pt;}
.y1d{bottom:733.373333pt;}
.y1c{bottom:750.373333pt;}
.y1b{bottom:767.173333pt;}
.y1a{bottom:784.133333pt;}
.y19{bottom:801.893333pt;}
.y18{bottom:822.373333pt;}
.y17{bottom:839.333333pt;}
.y16{bottom:856.133333pt;}
.ye{bottom:871.493333pt;}
.yd{bottom:881.733333pt;}
.yc{bottom:895.493333pt;}
.yb{bottom:909.253333pt;}
.ya{bottom:931.013333pt;}
.y9{bottom:944.933333pt;}
.y8{bottom:959.173333pt;}
.y7{bottom:975.973333pt;}
.y6{bottom:992.933333pt;}
.y5{bottom:1009.760000pt;}
.y4{bottom:1026.720000pt;}
.y3{bottom:1043.520000pt;}
.y2{bottom:1057.280000pt;}
.y14{bottom:1069.440000pt;}
.ha{height:14.240000pt;}
.h7{height:33.265625pt;}
.h8{height:44.575937pt;}
.h9{height:45.266875pt;}
.h6{height:49.898438pt;}
.h5{height:55.220937pt;}
.h4{height:61.208750pt;}
.h3{height:62.157500pt;}
.hc{height:66.531250pt;}
.h2{height:67.562500pt;}
.hb{height:79.048125pt;}
.h1{height:1002.000000pt;}
.h0{height:1122.560000pt;}
.w3{width:144.026667pt;}
.w1{width:680.666667pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x6{left:9.600000pt;}
.x0{left:70.000000pt;}
.x4{left:75.519988pt;}
.x5{left:123.552000pt;}
.x3{left:737.093322pt;}
.x2{left:750.053322pt;}
}
